.main-bg {
    background-image: url("/landing-page/assets/img/rose-petals.svg");
    background-size: cover;
    background-position: center center;
    color: var(--white-color);
}

.white-bg {
    background: var(--white-color);
}

.light-bg {
    background: var(--light-color);
    color: var(--white-color);
}


.main-content {
    max-width: 120rem;
    margin: 0 auto;
    padding: var(--gap);
}

.section {
    min-height: 100vh;
}

.menu-space {
    height: 121px;
}